﻿BODY
{
	MARGIN-TOP: 10px;
	MARGIN-LEFT: 10px;
	FONT-FAMILY:Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #E6E7E8
}
TR.mnuBack
{
	HEIGHT: 27px;
	BACKGROUND-COLOR: #003D78
}
A.mnuLink:active
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px;
	COLOR: #F78E1E;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	LETTER-SPACING: 2px;
	TEXT-DECORATION: none
}
A.mnuLink:link
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	LETTER-SPACING: 2px;
	TEXT-DECORATION: none
}
A.mnuLink:visited
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #ffffff;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	LETTER-SPACING: 2px;
	TEXT-DECORATION: none
}
A.mnuLink:hover
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #0096D6;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	LETTER-SPACING: 2px;
	TEXT-DECORATION: none
}
A.mnuLinkSelected:link
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #F7941D;
	FONT-FAMILY: Arial;
	LETTER-SPACING: 2px;
	TEXT-DECORATION: none
}
A.mnuLinkSelected:visited
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #F7941D;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	LETTER-SPACING: 2px;
	TEXT-DECORATION: none
}
A.mnuLinkSelected:active
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #F7941D;
	FONT-FAMILY: Arial;
	LETTER-SPACING: 2px;
	TEXT-DECORATION: none
}
A.mnuLinkSelected:hover
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #0096D6;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	LETTER-SPACING: 2px;
	TEXT-DECORATION: none
}
INPUT.IPV4Field
{
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FONT-SIZE: 11px;
	BORDER-LEFT: 0px;
	WIDTH: 230px;
	BORDER-BOTTOM: 0px;
	BACKGROUND-COLOR: #ffffff
}
INPUT.IPV6Field
{
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FONT-SIZE: 11px;
	BORDER-LEFT: 0px;
	WIDTH: 230px;
	BORDER-BOTTOM: 0px;
	BACKGROUND-COLOR: #ffffff
}
INPUT.IPV4V6Field
{
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FONT-SIZE: 11px;
	BORDER-LEFT: 0px;
	WIDTH: 230px;
	BORDER-BOTTOM: 0px;
	BACKGROUND-COLOR: #ffffff
}
INPUT.IPV6PrefixField
{
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FONT-SIZE: 11px;
	BORDER-LEFT: 0px;
	WIDTH: 34px;
	BORDER-BOTTOM: 0px;
	BACKGROUND-COLOR: #ffffff
}
INPUT.SNMPField
{
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FONT-SIZE: 11px;
	BORDER-LEFT: 0px;
	WIDTH: 230px;
	BORDER-BOTTOM: 0px;
	BACKGROUND-COLOR: #ffffff
}
INPUT.TextField
{
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	FONT-SIZE: 11px;
	BORDER-LEFT: 0px;
	WIDTH: 230px;
	BORDER-BOTTOM: 0px;
	BACKGROUND-COLOR: #ffffff
}
INPUT.portResetButton
{
	border-width: 4px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #0054A4;
	WIDTH: 80px
}
INPUT.saveButton
{
	border-width: 5px;
	FONT-SIZE: 12px;
	WIDTH: 120px;
	height: 40px;
	FONT-WEIGHT: bold;
}
INPUT.resetButton
{
	border-width: 4px;
	FONT-SIZE: 11px;
	WIDTH: 155px;
	height: 30px;
	FONT-WEIGHT: bold;
}
.txtCompanyName
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 26px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-STYLE: italic;
	COLOR: #000000;
}
.txtSubTitleBlueMedium
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	COLOR: #0054A4
}
.txtNormal
{
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txtNormalBold
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txtNormaBlue
{
	FONT-SIZE: 12px;
	COLOR: #0054A4;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.txtNormaBlueBold
{
	FONT-SIZE: 12px;
	COLOR: #0054A4;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
.txtGreenBold
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #4AA942;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txtSubTitleOrange
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 24px;
	FONT-FAMILY:Arial, Helvetica, sans-serif;
	COLOR: #F78E1E
}
.txtSaveTitle
{
	PADDING-RIGHT: 6px;
	PADDING-LEFT: 6px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	COLOR: #F78E1E;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #e6e7e8
}
.txtStatusOK
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #4AA942;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txtStatusError
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ed1c24;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Brdr_Param
{
	border:1px #7F9DB9 solid; 
	padding-top:2px; 
	padding-bottom:2px; 
	padding-left:2px;
}
.Brdr_ShortParam
{
	border:1px #7F9DB9 solid;
	width:34px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:2px;	
}
.Brdr_Table
{
	border:1px #003371 solid;
	background-color:#ffffff;
	width:380px;
}
.Brdr_TableNoSize
{
	border:1px #003371 solid;
	background-color:#ffffff;
}
.Brdr_InfoTable
{
	border:1px #003371 solid;
	background-color:#ffffff;
	width:380px;
}
TABLE.StatusTable
{
	BORDER-TOP: #003D78 1px solid;
	FONT-SIZE: 10px;
	BORDER-LEFT: #003D78 1px solid;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff
}
TABLE.StatusTable TD
{
	BORDER-RIGHT: #003D78 1px solid;
	BORDER-BOTTOM: #003D78 1px solid
}
TABLE.StatusTable TD.TitleTD
{
	BORDER-RIGHT: #e6e7e8 1px solid;
	COLOR: #ffffff;
	BACKGROUND-COLOR: #003D78;
	FONT-SIZE: 13px;
}
TABLE.StatusTable TD.TitleRightTD
{
	COLOR: #ffffff;
	BACKGROUND-COLOR: #003D78;
	FONT-SIZE: 13px;
}
TABLE.StatusTable TD.TitleButtomTD
{
	BORDER-RIGHT: #e6e7e8 1px solid;
	BORDER-BOTTOM: #e6e7e8 1px solid;
	COLOR: #ffffff;
	BACKGROUND-COLOR: #003D78;
	FONT-SIZE: 13px;
}
TABLE.StatusTable TD.TitleButtomRightTD
{
	BORDER-BOTTOM: #e6e7e8 1px solid;
	COLOR: #ffffff;
	BACKGROUND-COLOR: #003D78;
	FONT-SIZE: 13px;
}
TABLE.PortsPowerMode
{
    BORDER-TOP: #003D78 1px solid;
    FONT-SIZE: 10px;
    BORDER-LEFT: #003D78 1px solid;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
TABLE.PortsPowerMode TD
{
    BORDER-RIGHT: #003D78 1px solid;
    BORDER-BOTTOM: #003D78 1px solid
}
TABLE.PortsPowerMode TD.PortPwrModeNumTD
{
    BORDER-RIGHT: #e6e7e8 1px solid;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #003D78
}
TABLE.PortsPowerMode TD.PortPwrModeNumRightTD
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #003D78
}
TABLE.PortsPowerMode TD.PortPwrModeHeadTD
{
   	FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #0054A4;
    BACKGROUND-COLOR: #e6e7e8
}













